node_modules
models/recommendation_model.pkl
models/mangaList.json
public/chapters
public/manga_images
public/news
public/profile_photo/*
!public/profile_photo/default/
.env
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions